.buy-btn {
  border: none;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  display: flex;
  padding: 0;
  text-transform: uppercase;
  padding: 1px;
}
.buy-btn__text {
  color: #f6f4f5;
  padding: 20px 110px;
  text-transform: uppercase;
}

.buy-btn__price {
  background-color: #f6f4f5;
  padding: 20px 105px;
}