.footer{
   border-top: 1px solid #cacad6;
   border-bottom: 1px solid #cacad6;
   margin-bottom: 44px;
   padding: 30px 0;
   
}

.social{
   display:flex;
   justify-content: flex-end;
   gap: 20px;
}

